@import url("https://fonts.googleapis.com/css?family=Advent+Pro:400,700")

.v-btn
  font-weight 600
  font-family "Advent Pro", "Roboto", sans-serif !important
  text-transform uppercase

.headline
  font-family "Advent Pro", sans-serif !important
  font-weight 500

  &-6
    font-size 120px
    font-weight 700
    text-transform uppercase
    letter-spacing -1.25
